#map { 

  width: 100%;
  height: 100%;
  border: 5px solid #000;
  margin-right: 20px;
}

#title{
  font: 250% sans-serif;
  text-align: center;
  margin-top: 20px;
}

#photo{
  width: 350px;
  height: 250px;
  text-align:center;
  margin-top: 20px;
}

#buttons{
  /*width: 80%;*/
  margin-top: 20px;
  text-align:center;
  border: 3px solid #000;
  padding-top: 10px;
  padding-bottom: 10px;
}

#level{
  margin-top: 20px;
 
}

#games{
  margin-top: 20px;
 
}
#puntos{
  margin-top: 20px;
  font: 150% sans-serif;
}

#results{
  border: 3px solid #000;
  margin-top: 20px;
  margin-bottom: 20px;

}

#boxController{
  background-color: #32D9AA;
}

/*#buttonPlay{
  background-color: #32D9C6;
}*/

/**{
  background-color: #32D9AA;
}*/

/*div#search {
  background-color: white;
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: auto;
  height: auto;
  padding: 10px;
}
div#search input {
  width: 200px;
}
div#results {
  font-style: sans-serif;
  color: black;
  font-size: 75%;
}

img{
  height: 75px;
  width: 75px;
}*/